
*{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.popup-box{
  position: fixed;
  top:0px;
  //right: 0px;
  height:100%;
  width: 100%;
  z-index: 10;
  //background-color: orange;
  //backdrop-filter: contrast(40%);
}
.inputDetails{
  padding: 5px;  
  position: relative;
  margin: -5px 450px;
  color: black;
  
}
.crossBtn{
  position: relative;
  //bottom: 0px;
  left: 250px;
  &:hover{
    cursor: pointer;
    color: "#525E75"
  }
}
.signin-popup-content{
  position: fixed;
  margin: -200px 450px;
  //justify-items: left;
  background-color: white;
  //border-radius: 0 20px;
  box-shadow: 1px 1px 3px #151D3B;

  padding: 10px 40px;
  width:250px;
  min-height: 250px;
  text-align: left; 
  left: 450px;
  top: 250px;
}
.heading{
 margin-bottom: 20px;
}
.para{
  font-size: .8em;
  font-weight: 900;
  margin-bottom: 5px;
}
.txtInput{
  box-sizing: border-box;
  padding: 8px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid #DFDFDE;
}

.checkBox{
  float: left;
  width:15px;
  height:15px;
}
.paraShowPw{
  position: relative;
  font-size: .8em;
  display: inline;
  margin-left: 5px;
  
}
.forgetPass{
  position: relative;
  left: 25px;
  font-size: .8em;
  background: none;
  border: none;
  color: blue;
  &:hover{
    cursor: pointer;
    text-decoration: underline;
  }
}
.signInBtn{
  box-sizing: border-box;
  display: block;
  background-color: #5432D3;
  box-shadow: 1px 1px 3px black;

  border: none;
  border-radius: 10px;
  color: white;
  min-width: 100%;
  padding: 8px;
  margin: 30px 0 10px 0;
  &:hover{
    background-color: #241E92;
    cursor: pointer;
  }
}

.hrLine{
  display: inline-block;
  width: 35%;
  margin: 2px 10px;
  border: none;
  
  border-bottom: 2px solid #9D9D9D;
}
.hrPara{
  display: inline;
  font-weight: 900;
  margin: 8px;
  color: #9D9D9D;
}

.googleLogo{
  //border: .5px solid #DFDFDE;
  box-shadow: 0.5px 0.5px 0.5px 1px #DFDFDE;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  display: block;
  min-width: 100%;
  margin-top: 15px;
  &:hover{
    cursor: pointer;
    color:blue;  
    box-shadow: 0.5px 0.5px 0.5px 1px #9D9D9D; 
  }
}
.g_para{
  display: inline;
  font-size: 0.8em;
  margin-right: 0px;
  margin-top: 0px;
 
}
.g_img{
  float: left;
  width: 20px;
  height: 20px;
  margin-left: 40px;
  margin-top: 0px;
}
.signupBtn{
  margin:20px 0px 20px 0px;
  color: blue;
  background: none; 
  border: none;
  &:hover{
    text-decoration: underline;
    cursor: pointer;
  }
}


